/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Questrial&display=swap");
/* 
    font-family: "Questrial", sans-serif;
    font-family: "Open Sans", sans-serif;
*/

/*Font End*/

:root {
  --lm-font: "Questrial", sans-serif;
  --lm-font-alt: "Open Sans", sans-serif;
  --lm-color-first: #c5972d;
  --lm-color-second: #152b48;
  --lm-color-third: #b89868;
  --lm-color-light: #ffffff;
  --lm-color-lite-dark: #222222;
  --lm-color-dark: #000000;
  --lm-color-neon: #c5972d;
  --lm-color-gray: #ebf0f1;
}

body {
  transition: all 3s ease-out;
  overflow-x: hidden;
  font-family: var(--lm-font-alt);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  transition: width 0.8s ease-in-out;
}

/*================================================
              Reset/Normalize CSS
=================================================== */

.lm-main-wrapper {
  background: #f4efeb;
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  padding: 10px 0;
  color: var(--lm-color-second);
  font-family: var(--lm-font-alt);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: var(--lm-font);
  color: var(--lm-color-second);
  padding-bottom: 10px;
}

h1 {
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  color: var(--lm-color-second);
  font-family: var(--lm-font);
  padding-bottom: 5px;
}

h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 5px;
}

h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  padding-bottom: 3px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 3px;
}

h5 {
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 3px;
  font-weight: 700;
}

h6 {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: var(--lm-color-second);
}

.small-heading {
  color: var(--lm-color-dark);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}
.small-heading.white {
  color: var(--lm-color-light);
}

.lm-sec-title {
  font-size: 40px;
  line-height: 50px;
  color: var(--lm-color-dark);
  font-family: var(--lm-font);
  width: 100%;
  text-align: start;
}

.lm-sec-title.secondary {
  max-width: 75%;
}

.lm-sec-title.three {
  font-size: 32px;
  line-height: 40px;
}

.lm-sec-title.four {
  font-size: 24px;
  line-height: 30px;
}

.lm-sec-title.five {
  font-size: 20px;
  line-height: 28px;
}

ol,
ul,
dl {
  margin: 10px 0;
  padding: 0;
}

.sub-head {
  font-size: 28px;
  line-height: 34px;
}

.text-light {
  color: var(--lm-color-light) !important;
}

.text-dark {
  color: var(--lm-color-dark) !important;
}

.img-fluid {
  width: 100%;
  max-width: 100%;
}

.lm-sec-padding {
  padding: 4% 0;
}

.lm-container-padding {
  padding: 80px;
}

.lm-row-padding {
  padding: 2% 0;
}

.lm-col-right-padding {
  padding-right: 80px;
}

.lm-col-left-padding {
  padding-left: 80px;
}

.lm-right-padding {
  padding-right: 50px;
}

.lm-left-padding {
  padding-left: 50px;
}

.lm-main-wrapper ul li a {
  color: var(--lm-color-light);
}

.fw-bold {
  font-weight: 500 !important;
}

.btn {
  padding: 10px 35px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  background: var(--lm-color-second);
  transition: all 0.5s ease-out;
  position: relative;
  color: var(--lm-color-light);
  margin: 10px 0;
  text-transform: capitalize;
  box-shadow: 0 0px 20px rgba(51, 51, 51, 0.2);
}

.btn:focus,
.btn:active {
  box-shadow: none;
}

.btn:hover {
  color: var(--lm-color-light);
  background: var(--lm-color-first);
  box-shadow: 0 0px 20px rgba(51, 51, 51, 0.3);
}

.btn-one {
  padding: 16px 40px;
  text-transform: uppercase;
  background: rgb(203, 150, 96);
  background: linear-gradient(180deg, rgba(203, 150, 96, 1) 0%, rgba(249, 194, 117, 1) 100%);
}

.btn-one:hover {
  background: rgb(203, 150, 96);
  background: linear-gradient(0deg, rgba(203, 150, 96, 1) 0%, rgba(249, 194, 117, 1) 100%);
}

.lm-list li {
  padding: 6px 0 6px 40px;
  position: relative;
  font-size: 20px;
  transition: all 0.5s ease;
  list-style: none;
}

.lm-list li:before {
  position: absolute;
  content: "";
  background: var(--lm-color-light);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 16px;
  top: 17px;
  transition: all 0.5s ease;
}

.lm-list-alt li {
  padding: 8px 0 8px 40px;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--lm-color-lite-dark);
  transition: all 0.5s ease;
  list-style: none;
}

.lm-list-alt li:before {
  position: absolute;
  content: "";
  background: var(--lm-color-dark);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 16px;
  top: 17px;
  transition: all 0.5s ease;
}

.bold-text {
  font-size: 24px;
  line-height: 36px;
}

.hides {
  display: none;
}

.shows {
  display: block;
}

.white {
  color: var(--lm-color-light) !important;
}

.black {
  color: var(--lm-color-dark) !important;
}

.primary-color {
  color: var(--lm-color-first);
}

.lm-hero-btn {
  border-radius: 0px;
  padding: 12px 30px;
  color: var(--lm-color-light);
  background-color: var(--lm-color-neon);
  border: 1px solid transparent;
  text-align: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  transition: all ease-in-out 0.4s;
  border-radius: 4px;
}

.lm-hero-btn.secondary {
  color: var(--lm-color-light);
  background-color: var(--lm-color-dark);
  border: 1px solid #ccc;
}

.lm-hero-btn.secondary:hover {
  color: var(--lm-color-light);
  background-color: var(--lm-color-dark);
  border: 1px solid #ccc;
}

.lm-hero-btn:hover {
  color: var(--lm-color-dark);
  opacity: 0.8;
}

.lm-hero-btn-two {
  padding: 15px 43px;
  background-color: #515151;
}

.lm-hero-btn-two:before {
  background-color: var(--lm-color-first);
}

.font-18 {
  font-size: 18px;
  line-height: 26px;
}

.font-16 {
  font-size: 16px;
  line-height: 26px;
}

.color-text {
  color: var(--lm-color-first);
}

.overlay {
  position: relative;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

/*================================================
              Banner Section Start
=================================================== */
.lm-banner-sec {
  height: 500px;
  background-image: url("../images/banner/main-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 80px 0px;
}

.lm-banner-sec .primary-btn {
  padding: 7px 20px;
  font-size: 14px;
}

.lm-banner-sec .primary-btn img {
  width: 14px;
}

.lm-banner-sec .primary-btn.call-btn {
  margin-bottom: 0px;
}

.lm-banner-sec .banner-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.lm-banner-sec .banner-content {
  width: 100%;
  max-width: 720px;
}

.lm-banner-sec .banner-content .register-button {
  width: 250px;
}

.lm-banner-sec .banner-content h2 {
  color: var(--lm-color-light);
  font-family: var(--lm-font);
  margin-bottom: 20px;
  width: 100%;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 600;
}

.lm-banner-sec .banner-content h2 span {
  color: var(--lm-color-first);
}

/* .lm-banner-sec .banner-content span {
  color: var(--lm-color-light);
  font-family: var(--lm-font);
  font-size: 25px;
  font-weight: 500;
} */

/*================================================
              LM Section Two
=================================================== */
.lm-sec-two h1 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 0px;
  max-width: 650px;
  width: 100%;
}

.about-list {
  padding-left: 0;
}

.about-list li {
  list-style: none;
  margin-bottom: 8px;
  color: var(--lm-color-first);
  font-size: 20px;
  font-weight: 600;
}

.about-list li img {
  margin-right: 5px;
}

.about-widget {
  border: 1px solid var(--lm-color-first);
  padding: 20px 20px;
  border-radius: 5px;
  background-color: var(--lm-color-dark);
  box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.12);
}

.about-widget ul {
  padding-left: 0;
  max-width: 80%;
  margin: 0 auto;
}

.about-widget ul li {
  list-style: none;
}

.about-widget ul li a {
  text-decoration: none;
  color: var(--lm-color-light);
  padding: 5px 0px;
  display: block;
  position: relative;
  transition: all ease-in-out 0.5s;
}

.about-widget-inner .thumb img {
  width: 150px;
  margin-bottom: 15px;
}

.about-widget ul li a:hover {
  color: var(--lm-color-first);
}

.about-widget ul li a::after {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  background: var(--lm-color-light);
  border-radius: 100%;
  left: -25px;
  top: 20px;
  transform: translateY(-50%);
}

/*================================================
              LM Section Three
=================================================== */
.lm-sec-three.lm-sec-padding {
  padding-top: 0px;
}

.lm-sec-three .lm-sec-background {
  background-image: url("../images/banner/paragon-plastic-surgery.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-three .lm-sec-wrapper-top {
  height: auto;
  background: var(--lm-color-first);
  padding: 50px 100px;
  transform: translateY(-100px);
}

.section-content .lm-sec-title {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-weight: 600 !important;
}

.section-content .short-description {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.lm-sec-three .list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.shape-thumb img {
  width: 200px;
  margin: 0 auto;
}

.list li {
  list-style: none;
  width: 50%;
  padding: 7px 0px;
  font-weight: 600;
  font-size: 15px;
  color: var(--lm-color-first);
}

.lm-sec-three .lm-sec-wrapper-top .content .lm-sec-title,
.lm-sec-three .lm-sec-wrapper-top .content p {
  color: var(--lm-color-light);
}

.lm-sec-three .lm-sec-wrapper-top .content {
  padding-right: 30px;
}

.lm-sec-three .lm-sec-wrapper-top .shadow-thumb {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: -1;
}

.lm-sec-three .lm-sec-wrapper-middle .section-heading {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/*================================================
              LM Section Four
=================================================== */
.lm-sec-four.lm-sec-padding {
  padding-top: 0px;
}

.lm-sec-four .lm-sec-background {
  background-image: url("../images/banner/weight-lifting.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-four .item {
  text-align: center;
}

.lm-sec-four .item img {
  width: 100px;
}

.lm-sec-four .lm-sec-wrapper {
  height: auto;
  background: var(--lm-color-light);
  box-shadow: rgba(0, 0, 0, 0.12) 2px -3px 30px 7px;
  /* padding: 0px 50px; */
  transform: translateY(-100px);
  border-radius: 10px;
}

.lm-sec-four .lm-sec-wrapper .nav-link,
.lm-sec-four .lm-sec-wrapper .nav-link:hover {
  color: var(--lm-color-dark);
  font-size: 15px;
  font-weight: 500;
}

.lm-sec-four .lm-sec-wrapper .nav-pills {
  padding: 15px 25px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}

.lm-sec-four .lm-sec-wrapper .tab-content .tab-item .thumb {
  position: absolute;
  width: 500px;
  height: 300px;
  right: -450px;
  top: 50%;
  transform: translateY(-50%);
}

.lm-sec-four .lm-sec-wrapper .tab-content .tab-item .thumb:after {
  position: absolute;
  content: "";
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  border-radius: 2px;
  height: 10px;
  background: var(--lm-color-first);
  z-index: -1;
}

.lm-sec-four .lm-sec-wrapper .tab-content .tab-item .thumb img {
  width: 100%;
  height: 100%;
}

.lm-sec-four .lm-sec-wrapper .tab-content {
  padding: 30px 80px 30px 50px;
}

.lm-sec-four .lm-sec-wrapper .nav-pills .nav-link.active,
.lm-sec-four .lm-sec-wrapper .nav-pills .show > .nav-link {
  background-color: var(--lm-color-first);
  color: var(--lm-color-light);
}

/*================================================
              LM Section Five
=================================================== */
.lm-sec-inner-top {
  background-color: #dbdbdb;
}

.lm-sec-inner-bottom {
  background-color: var(--lm-color-light);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.rotate-shape {
  position: absolute;
  content: "";
  width: 2000px;
  height: 100px;
  background: #dbdbdb;
  top: 0;
  left: -150px;
  z-index: -1;
  transform: rotate(177deg) translateY(45px);
}

.lm-sec-inner-bottom .thumbnail {
  box-shadow: rgba(0, 0, 0, 0.12) 2px 0px 20px 2px;
}

.lm-sec-five .section-heading {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/*================================================
              LM Section Six
=================================================== */
.lm-sec-six .lm-sec-background {
  background-image: url("../images/banner/face-lifts.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.accordion-wrapper .accordion-item {
  border: none;
  margin-bottom: 20px;
  background-color: transparent;
}

.accordion-wrapper .accordion-button {
  color: var(--lm-color-dark);
  font-size: 16px;
  line-height: 27px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: var(--lm-color-first);
  color: var(--lm-color-light);
}

.accordion-wrapper .accordion-collapse {
  background-color: transparent;
}

.accordion-wrapper .accordion-header {
  padding-bottom: 0px;
  border-bottom: none;
}

.accordion-wrapper .accordion-button.collapsed,
.accordion-wrapper .accordion-button:focus,
.accordion-wrapper .accordion-button:not(.collapsed) {
  box-shadow: none;
}

/* .accordion-wrapper .accordion-button:not(.collapsed)::after,
.accordion-wrapper .accordion-button:after {
  background-image: none;
} */

.accordion-wrapper .accordion-button::after {
  width: 12px;
  height: 18px;
  background-size: 10px;
  background-image: url("../images/icon/right-arrow.png");
  transition: all 0.5s;
  display: flex;
  position: absolute;
  top: 53%;
  right: 2%;
  transform: translateY(-50%);
}
.accordion-wrapper .accordion-button:not(.collapsed)::after {
  background-image: url("../images/icon/right-arrow.png");
  transform: translateY(-50%) rotate(90deg);
  right: 2.5%;
}

.accordion-wrapper .accordion-body {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 11px;
  background-color: transparent;
  padding: 5px 0px;
}

.accordion-wrapper .accordion-body p {
  color: var(--lm-color-light);
  line-height: 22px;
}

/*================================================
              LM Section Seven
=================================================== */

.lm-sec-seven .item .content {
  max-width: 92%;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.12) 2px 0px 20px 2px;
  transform: translateY(-68px);
}

.lm-sec-seven .item .content h6 {
  padding: 10px 12px;
  text-align: center;
  background-color: var(--lm-color-first);
  color: var(--lm-color-light);
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 68px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lm-sec-seven .item .content p {
  padding: 25px;
  text-align: center;
  color: var(--lm-color-dark);
  background-color: var(--lm-color-light);
  margin: 0px;
  line-height: 23px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 440px;
}

/*================================================
              LM Section Eight
=================================================== */
.lm-sec-eight .lm-sec-background {
  background-image: url("../images/banner/hair-growth.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-form {
  background-color: var(--lm-color-light);
  border-radius: 5px;
}

/*================================================
              LM Section Nine
=================================================== */
.lm-sec-nine .lm-sec-nine-wrapper {
  background-image: url("../images/banner/lm-sec-nine.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: auto;
  border-radius: 15px;
}

.lm-sec-nine .lm-sec-nine-wrapper .content {
  padding-left: 30px;
}

.lm-sec-nine .lm-sec-nine-wrapper .content h2,
.lm-sec-nine .lm-sec-nine-wrapper .content p {
  color: var(--lm-color-light);
}

/*================================================
              LM Section Eleven
=================================================== */
.lm-sec-eleven {
  background-image: url("../images/banner/lm-sec-eleven.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}

.lm-sec-eleven .lm-form-wrapper .top {
  background-color: var(--lm-color-light);
}

.lm-sec-eleven .lm-form-wrapper .top h6 {
  padding-bottom: 0px;
}

.lm-sec-eleven .lm-form-wrapper .top p {
  padding-top: 0px;
}

.lm-sec-eleven .lm-form-wrapper .bottom {
  background-color: var(--lm-color-first);
}

.lm-sec-eleven .lm-form-wrapper .bottom a {
  color: var(--lm-color-light);
}

/*================================================
              LM Section Thirteen
=================================================== */
.service-widget {
  box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--lm-color-first);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.service-widget .widget-top {
  background-color: var(--lm-color-first);
  width: 100%;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.service-widget .widget-top h6 {
  color: var(--lm-color-light);
}

.service-widget .widget-top .selection {
  position: relative;
}

.service-widget .widget-top .selection select {
  border-radius: 8px;
  background-color: var(--lm-color-light);
  border: none;
  outline: none;
  padding: 7px 15px;
  -webkit-appearance: none;
  appearance: none;
}

.service-widget .widget-top .selection .icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  pointer-events: none;
}

.service-widget .widget-bottom {
  padding: 15px 20px;
  border-radius: 5px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.service-widget .widget-bottom .redirect-links {
  padding-left: 0;
}

.service-widget .widget-bottom .redirect-links li {
  position: relative;
  list-style: none;
}

.service-widget .widget-bottom .redirect-links li a {
  text-decoration: none;
  color: var(--lm-color-dark);
  display: block;
  padding: 5px 25px;
}

.service-widget .widget-bottom .redirect-links li a::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: var(--lm-color-first);
  border-radius: 100%;
}

.service-widget .widget-bottom .action-btn .primary-btn {
  padding: 6px 25px;
  font-size: 14px;
  border-radius: 7px;
  background: var(--lm-color-first);
  color: var(--lm-color-light);
}

/*================================================
              RESPONSIVE STYLES
=================================================== */
@media (max-width: 1024px) {
  .lm-sec-two h1 {
    font-size: 55px;
    line-height: 62px;
  }

  .lm-sec-seven .item .content p {
    min-height: 535px;
  }

  .rotate-shape {
    display: none;
    position: static;
    width: 0;
    height: 0;
    left: 0;
    transform: rotate(0deg) translateY(0px);
  }

  .lm-sec-four .lm-sec-wrapper .tab-content .tab-item .thumb {
    position: static;
    height: auto;
    width: auto;
    transform: translateY(0px);
    margin-bottom: 15px;
  }

  .lm-sec-four .lm-sec-wrapper .tab-content .tab-item .thumb:after {
    position: static;
  }
}

@media (max-width: 768px) {
  /* Tablet Styles */
  .lm-sec-title {
    font-size: 28px;
    line-height: 30px;
  }
  .lm-sec-title.secondary {
    max-width: 100%;
  }
  .lm-sec-seven .item {
    margin-bottom: 30px;
  }
  .lm-sec-seven .item .content {
    transform: translateY(0px);
    max-width: 100%;
  }
  .lm-sec-seven .item .content h6,
  .lm-sec-seven .item .content p {
    min-height: auto;
  }

  .lm-sec-seven .item .content h6 {
    border-radius: 0;
  }

  .lm-sec-four .lm-sec-wrapper .tab-content {
    padding: 15px;
  }

  .lm-sec-seven .item {
    margin-bottom: 20px;
  }

  .lm-sec-title.three {
    font-size: 24px;
    line-height: 30px;
  }

  .lm-sec-title.four {
    font-size: 20px;
    line-height: 25px;
  }

  .lm-sec-title.five {
    font-size: 18px;
    line-height: 27px;
  }

  .lm-banner-sec {
    height: auto;
    padding: 40px 0px;
  }

  .lm-banner-sec .banner-wrapper {
    flex-direction: column;
  }

  .lm-banner-sec .banner-content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .lm-banner-sec .banner-content h2 {
    max-width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 10px;
  }

  /* .lm-banner-sec .banner-content span {
    font-size: 20px;
    margin-bottom: 10px;
  } */

  .lm-sec-two h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 0px;
  }

  .about-list li {
    font-size: 18px;
  }

  .about-widget {
    padding: 20px 45px;
  }

  .about-widget ul {
    max-width: 100%;
  }

  .lm-sec-three.lm-sec-padding {
    padding-top: 0px;
  }

  .lm-sec-three .work-wrapper {
    background-image: none;
    height: 0px;
  }

  .lm-sec-three .lm-sec-wrapper-top .content {
    padding-right: 0px;
  }

  .lm-sec-three .lm-sec-wrapper-bottom .item {
    height: auto;
    padding: 20px;
  }

  .lm-sec-three .lm-sec-wrapper-top .right-content {
    padding-left: 0px;
    border: none;
  }

  .green-list li {
    padding: 7px 0px;
  }

  .lm-sec-three .lm-sec-wrapper-top {
    padding: 20px 15px;
    transform: translateY(0px);
  }

  .lm-sec-four .lm-sec-wrapper {
    padding: 20px 15px;
    transform: translateY(0px);
  }

  .lm-sec-five .slider-button-prev img,
  .lm-sec-five .slider-button-next img {
    width: 30px;
  }

  .lm-sec-six .lm-sec-wrapper-top {
    padding: 20px 15px;
    transform: translateY(0px);
    margin-top: 30px;
  }

  .lm-sec-six .action-logo-btn {
    font-size: 14px;
  }

  .lm-sec-seven .lm-sec-wrapper-top .item .content {
    padding: 25px 15px 15px;
    min-height: auto;
    margin-bottom: 20px;
  }

  .lm-sec-seven .lm-sec-wrapper-top {
    padding: 0px;
    transform: translateY(0px);
    margin-top: 30px;
  }

  .lm-sec-seven .lm-sec-wrapper-bottom .right-content .lm-sec-title {
    font-size: 28px;
  }

  .lm-sec-seven .action-logo-btn {
    font-size: 14px;
  }

  .lm-sec-eight {
    height: auto;
  }

  .lm-sec-nine .lm-sec-nine-wrapper .content {
    padding: 15px;
  }

  .lm-sec-nine .lm-sec-nine-wrapper {
    background-position: center;
  }
}

@media (max-width: 480px) {
  /* Mobile Small Styles */
  .lm-sec-title {
    font-size: 24px;
    line-height: 30px;
  }

  .accordion-wrapper .accordion-item {
    margin-bottom: 10px;
  }

  .accordion-wrapper .accordion-body p {
    padding: 0px 0px;
  }

  .banner-form {
    width: 100%;
  }

  .lm-sec-four .lm-sec-wrapper {
    padding: 0px;
  }

  .shape-thumb img {
    width: 150px;
  }

  .lm-sec-title.three {
    font-size: 20px;
    line-height: 26px;
  }

  .lm-sec-title.four {
    font-size: 18px;
    line-height: 24px;
  }

  .lm-banner-sec .primary-btn {
    padding: 7px 20px;
    font-size: 14px;
  }

  .lm-banner-sec .primary-btn img {
    width: 14px;
  }

  .lm-banner-sec .primary-btn.call-btn {
    margin-bottom: 0px;
  }

  .lm-banner-sec .banner-content h2 {
    font-size: 24px;
    line-height: 30px;
  }
  /* .lm-banner-sec .banner-content span {
    font-size: 18px;
  } */

  .lm-hero-btn {
    padding: 7px 25px;
    width: 100%;
    font-size: 14px;
  }

  .lm-sec-two h1 {
    font-size: 28px;
    line-height: 30px;
  }

  .about-list li {
    font-size: 15px;
  }

  .list li {
    width: 100%;
  }

  .lm-sec-four .list li {
    width: 100%;
  }

  .lm-sec-seven .lm-sec-wrapper-bottom .right-content .lm-sec-title {
    font-size: 22px;
  }
}
